@import 'styles/variables.scss';

.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 6rem;

  padding: 0 26rem;

  background-color: $yellow;
  z-index: 10;

  &__input-search {
    &.form-control {
      width: 70%;
      height: 4rem;

      padding: 0.2rem 1rem;

      border: 0.1rem solid $lighter-gray;
      border-radius: 0.4rem;
      outline: none;
      font-size: 1.8rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $lighter-gray;
      }
    }

    &__button.input-group-text {
      height: 100%;
      padding: 0 1rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__icon {
    cursor: pointer;
    svg {
      width: 5rem;
      margin-right: 1rem;
    }
  }
}
