@import 'styles/variables.scss';

.breadcrumb-nav {
  width: 100%;

  .breadcrumb {
    display: flex;
    align-items: center;

    font-size: 1.4rem;

    margin: 0;
    padding: 1.6rem 0;

    &__separator {
      margin: 0 0.5rem;
    }

    &__item {
      font-weight: 400;
      color: $gray;

      &--last-item {
        font-weight: 700;
      }
    }
  }
}
