@import 'styles/variables.scss';

.search-result {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem;

  background-color: $white;

  .item-detail-component {
    &:not(:last-child) {
      border-bottom: 0.1rem solid $light-gray;
    }
  }
}
